*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.text1{
  top: 66%;
    font-size: clamp(60px, 5vw, 80px);
    font-family: 'Mea Culpa', cursive;
    font-weight: 900;
    font-style: normal;
    color: #B2A89F;
    padding: 0;
    transform: translateX(-300px);
    font-size: 44px;
    padding: 0;
}
.text2{
    top: 66%;
    margin-left:0px;
    font-size: clamp(60px, 5vw, 80px);
    font-family: 'Mea Culpa', cursive;
    font-weight: 900;
    font-style: normal;
    color: #B2A89F;
    font-size: 40px;
    padding: 0;
    transform: rotate(90deg);

}
.overlay{
  position: absolute ;
  width: 100%;
  height: 100%;
  background: #B2A89F;
  left: 0;
  top: 0;
  transform-origin: left ;
}
.transition-wipe {
  
  transition: 2s cubic-bezier(0,-0.01, 0, 1.33);
  transition-delay: calc(var(--button-delay-time)*.7);
  transform: scaleX(0);
}

html.is-leaving .transition-wipe {
   transform: scaleX(100)
  
}
.transition-swipe {
  opacity: 1;
  transition: 1000ms;
  
  transform: translateX(0);
  transform-origin: left;
}

html.is-leaving .transition-swipe {
  transform: translateX(0);
}

.btn {
  transition: 500ms;
  transition-duration: var(--button-delay-time);
  transform: translateX(0);
}

html.is-animating .btn {
  transform: translateX(1000px);
}
  
  body {
    color: #222;
    background: #efe5df;
    overflow: hidden;
  }
 
  /* Dark Mode styles */
  body.dark-theme {
    color: #eee;
    background: #121212;
  }
  
  body.dark-theme {
    color: #121212;
     
}
.write{
    width: 100%;
    min-height: 100vh;
    display: flex;
    transform: translateX(-50px);
    justify-content: center;
    align-items: center;
    margin: 0; 
}
.btn-toggle{
  background-color:transparent ;
  font-family: 'Libre Baskerville', serif;
  font-size: 15px;
  border: none;
  color:#B2A89F;
  padding: 7px 3px 2px; 
  text-align: center; 
  position: relative; 
  display: inline-block; 
  overflow: hidden; z-index: 3; 
  white-space: nowrap;
}
:root {
    --squish-animation-time: 50ms;
    --progress-animation-time: 10ms;
    --button-delay-time: 200ms;
    --btn-width: 48px;
    --btn-height: 600px;
  }
.btn {
    position: relative;
    background: #000;
    border: white;
   
    transform: rotate(-90deg);
    border-radius: 10em;
    width: var(--btn-width);
    height: var(--btn-height);
    font-weight: bold;
    cursor: pointer;
    padding: 0;
  }

  .btn.animating {
    background-color: transparent;
    color: transparent;
    user-select: none;
    cursor: default;
    animation: hide 0ms calc(var(--squish-animation-time) + var(--progress-animation-time)) forwards;
  }

  .btn::before {
    content: "";
    display: none;
    position: absolute;
    background-color: linear-gradient(
        to left,
        pink 0%,
        pink 50%,
        skyblue 50%,
        skyblue 100% 
    ); ;
    inset: 0;
    border-radius: .125em;
    
    animation-fill-mode: forwards;
  }
  
  
  .btn::after {
    content: "";
    display: none;
    position: absolute;
    background-color: linear-gradient(
        to left,
        pink 0%,
        pink 50%,
        skyblue 50%,
        skyblue 100% 
    ); ;
    left: 51%;
    right: 51%;
    top: 45%;
    bottom: 45%;
    border-radius: .25em;
    animation-fill-mode: forwards;
  }
  
  .btn.animating::before,
  .btn.animating::after {
    display: block;
  }
  
  
  @keyframes hide {
    100% {
     opacity: 0%;
    }
  }
  
@media (max-width:480px) {
    
    .write{
        font-size: 40px;
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    .btn{
        border: 0px;
        border-collapse: collapse;
        transform: rotate(0deg);
    }
}