*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.micron{
    border: 0px;
    border-collapse: collapse;
    background: linear-gradient(
        to left,
        pink 0%,
        pink 50%,
        skyblue 50%,
        skyblue 100% 
    );
    transform: rotate(-90deg);
}
#Layer_1{
    height: 600px;
    transform:rotate(0deg); 
    
}
#Layer_1.Marking{
    animation: move 1s linear ;
}
.write{
    font-size: 40px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        to bottom,
        pink 0%,
        pink 50%,
        skyblue 50%,
        skyblue 100% 
    );
}

/*#Cap_Front,
#Marking{
   animation: move 2s  linear ;
  
}*/
@keyframes move{
    from{
        transform: translateX(0px);
         
    }
    to{
         transform: translateX(-200px);
         
    }

} 

@media (max-width:480px) {
    
    .write{
        font-size: 40px;
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background: linear-gradient(
            to bottom,
            pink 0%,
            pink 50%,
            skyblue 50%,
            skyblue 100% 
        );
    }
    .micron{
        border: 0px;
        border-collapse: collapse;
        background: linear-gradient(
            to bottom,
            pink 0%,
            pink 50%,
            skyblue 50%,
            skyblue 100% 
        );
        transform: rotate(0deg);
    }
}